@font-face {
  font-family: 'TIMESS__';
  src: url('https://cdn.shopify.com/s/files/1/0582/9784/3783/files/TIMESS.woff?v=1724590436') format('woff');
       font-display: swap;
       font-style: normal;
}

*{
  font-family: 'TIMESS__', sans-serif !important;
}

.menu-drawer{
  width: 50% !important;
}

.product__media-list-custom{
  display: grid;
  grid-template-columns: repeat(12,minmax(52px,1fr));
  grid-gap: 2px;
  margin: 0;
  padding: 0;
}

.product__description-custom {
  display: grid;
  grid-template-columns: repeat(12, minmax(52px, 1fr));
  grid-gap: 20px;
}

.description-section {
  grid-column: span 6;
}

.product-media-container.constrain-height {
  margin: 0;
  width: 100% !important;
}

/* for first two children of .product__media-list-custom, it will be assigned with grid-columns = span 6. and then the rest children will be assigend with grid-columns = span (12 / (total rest of the children))  */
.product__media-list-custom > *:nth-child(-n+2){
  grid-column: span 6;
}

.product__media-list-custom > *:nth-child(n+3){
  grid-column: span 4;
}

.product__media-list-custom img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__media-list-custom img:hover{
  cursor: pointer;
}

.owl-collection-product{
  margin: 0;
}

.owl-collection-product img, .product-thumbnail-custom img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure.product-thumbnail-custom{
  margin: 0;
}

.owl-carousel .slick-arrow, .custom-slideshow--mobile .slick-arrow{
  position: absolute;
  z-index: 100;
  bottom: 50%;
  padding: 4px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.owl-carousel .slick-prev, .custom-slideshow--mobile .slick-prev{
  left: 0;
}

.owl-carousel .slick-next, .custom-slideshow--mobile .slick-next{
  right: 0;
}

.card--standard .card__content{
  padding: 8px !important;
}

.carousel-product-custom {
  position: relative;
}

.product-form__input--swatch .swatch-input__input + .swatch-input__label {
  --swatch-input--size: 15px !important;
}

/* .quick-add-custom {
  position: absolute;
  bottom: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 4px 0;
}

.quick-add-custom button {
  background-color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
} */

.list-menu span, .list-menu a {
  text-decoration-thickness: 0rem;
  text-decoration-color: white;
  text-shadow: 1px 0px white;
  font-family: 'TIMESS__', sans-serif;
  /* font-size: 21px; */
  text-transform: uppercase;
}

.list-menu .header__menu-item:hover span, .list-menu li a:hover {
  text-shadow: 1px 0px black;
}

.page-width-custom {
    padding: 0 1.5rem;
}

.price{
  margin-top: 0 !important;
  font-size: 14px !important;
}

.footer-block__heading{
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1rem !important;
}

.footer-block__details-content .list-menu__item--link{
  padding: 0 !important;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .custom-slideshow--desktop{
    display: none;
  }

  .custom-slideshow--mobile{
    display: block;
  }

  .custom-footer-style{
    display: grid !important;
    grid-template-columns: repeat(2, 50%);
  }

  .custom-footer-style .custom-footer-style__block{
    margin: 0 !important;
  }
}

@media screen and (min-width: 750px) {
  .custom-slideshow--desktop{
    display: block;
  }

  .custom-slideshow--mobile{
    display: none;
  }

  .product--stacked .product__media-item {
      max-width: 100% !important;
      width: 100%;
  }

  .card__information {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 14px;
  }

  .underline-links-hover:hover a {
    text-decoration: none !important;
  }

  .card__heading{
    font-size: 14px;
  }
  .page-width-custom {
      padding: 0 5rem;
  }
  .collection-hero__title{
    font-size: 18px;  
  }
  .facets-container{
    padding-top: 0 !important;
  }
  .collection-hero.collection-hero--with-image {
    padding-bottom: 0 !important;
  }
  .collection-hero__title+.collection-hero__description{
    font-size: 16px !important;
  }
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 16px 2rem 0 0 !important;
  }
  .collection-hero-custom__image-container{
    margin-left: 0 !important;
    min-height: 40rem !important;
  }
  
  .collection-hero-custom__inner{
    flex-direction: column-reverse !important;
    align-items: start !important;
  }
}