@font-face {
  font-family: 'TIMESS__';
  src: url('https://cdn.shopify.com/s/files/1/0582/9784/3783/files/TIMESS.woff?v=1724590436') format('woff');
       font-display: swap;
       font-style: normal;
}

*{
  font-family: 'TIMESS__', sans-serif !important;
}

.header__active-menu-item {
  text-decoration-thickness: 0rem;
  text-decoration-color: white;
  text-shadow: 1px 0px white;
  font-family: 'TIMESS__', sans-serif;
  /* font-size: 21px; */
  text-transform: uppercase;
}

.page-width-custom {
    padding: 0 1.5rem;
}

.header__menu-item:hover .header__active-menu-item {
    text-shadow: 1px 0px black;
}

@media screen and (min-width: 750px) {
  .page-width-custom {
      padding: 0 5rem;
  }
  .collection-hero__title{
    font-size: 18px;  
  }
  .facets-container{
    padding-top: 0 !important;
  }
  .collection-hero.collection-hero--with-image {
    padding-bottom: 0 !important;
  }
  .collection-hero__title+.collection-hero__description{
    font-size: 16px !important;
  }
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 16px 2rem 0 0 !important;
  }
  .collection-hero-custom__image-container{
    margin-left: 0 !important;
    min-height: 40rem !important;
  }
  
  .collection-hero-custom__inner{
    flex-direction: column-reverse !important;
    align-items: start !important;
  }
}