@font-face {
  font-family: 'TIMESS__';
  src: url('https://cdn.shopify.com/s/files/1/0582/9784/3783/files/TIMESS.woff?v=1724590436') format('woff');
       font-display: swap;
       font-style: normal;
}

*{
  font-family: 'TIMESS__', sans-serif !important;
}

.modal-size-chart, .modal-image-slider-page{
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-image-slider-page{
  justify-content: flex-start;
}

.close, [class*="close-"] {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #4b4b4b;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus, [class*="close-"]:hover, [class*="close-"]:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.size-chart__label{
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.size-chart-product{
  background-color: white;
  padding: 20px;
  margin: 20px;
}

#radio-selection-size-chart{
  display: flex;
  justify-content: end;
  gap: 10px;
}

img[class*="image-item-"] {
  cursor: pointer;
}

.custom-page-figure{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.custom-page-figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-slide-page-custom{
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12,minmax(52px,1fr));
  grid-gap: 15px;
}

.container-slide-page-custom .collection-slide-dude{
  grid-column: span 3;
  position: relative;
}

.container-slide-page-custom .collection-slide-dude .collection-slide-dude__content{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255, 0.5);
  padding: 4px 8px;
  text-align: center;
  z-index: 100;
  width: 100%;
}

.collection-slide-dude__content h2{
  margin: 0;
}

.info-with-icon__child {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}

.info-with-icon__child p {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.info-with-icon__child p span{
  font-size: 12px;
}

.info-with-icon__child figure {
  margin: 0;
}

.container-text-title-price{
  display: flex;
  align-items: center;
  grid-gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  /* background-color: #ccc; */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  /* padding: 0 18px; */
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 

.menu-drawer{
  width: 50% !important;
}

.product__media-list-custom{
  position: relative;
  display: grid;
  grid-template-columns: repeat(12,minmax(32px,1fr));
  grid-gap: 2px;
  margin: 0;
  padding: 0;
}

.product__description-custom {
  display: grid;
  grid-template-columns: repeat(12, minmax(52px, 1fr));
  grid-gap: 15px;
}

.description-section {
  grid-column: span 6;
}

.product-media-container.constrain-height {
  margin: 0;
  width: 100% !important;
}

/* for first two children of .product__media-list-custom, it will be assigned with grid-columns = span 6. and then the rest children will be assigend with grid-columns = span (12 / (total rest of the children))  */
.product__media-list-custom > *:nth-child(-n+2){
  grid-column: span 6;
}

.product__media-list-custom > *:nth-child(n+3){
  grid-column: span 4;
}

.product__media-list-custom img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__media-list-custom img:hover{
  cursor: pointer;
}

.owl-collection-product{
  margin: 0;
}

.owl-collection-product img, .product-thumbnail-custom img, .slide-page-custom img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure.product-thumbnail-custom{
  margin: 0;
}

.owl-carousel .slick-arrow, .slide-page-custom .slick-arrow, .collection-slide-dude .collection-slide-dude__content{
  opacity: 0;
  transition: 0.3s;
}

.owl-carousel:hover .slick-arrow, .slide-page-custom:hover .slick-arrow, .collection-slide-dude:hover .collection-slide-dude__content{
    opacity: 1;
}

.owl-carousel .slick-arrow, .custom-slideshow--mobile .slick-arrow, .product-carousel-custom .slick-arrow, .slide-page-custom .slick-arrow{
  position: absolute;
  z-index: 100;
  bottom: 50%;
  padding: 4px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.owl-carousel .slick-prev, .custom-slideshow--mobile .slick-prev, .product-carousel-custom .slick-prev, .slide-page-custom .slick-prev{
  left: 0;
}

.owl-carousel .slick-next, .custom-slideshow--mobile .slick-next, .product-carousel-custom .slick-next, .slide-page-custom .slick-next{
  right: 0;
}

.card--standard .card__content{
  padding: 8px !important;
}

.carousel-product-custom {
  position: relative;
}

.product-form__input--swatch .swatch-input__input + .swatch-input__label {
  --swatch-input--size: 15px !important;
}

/* .quick-add-custom {
  position: absolute;
  bottom: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 4px 0;
}

.quick-add-custom button {
  background-color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
} */

.list-menu span, .list-menu a {
  text-decoration-thickness: 0rem;
  text-decoration-color: white;
  text-shadow: 1px 0px white;
  font-family: 'TIMESS__', sans-serif;
  /* font-size: 21px; */
  text-transform: uppercase;
}

.list-menu .header__menu-item:hover span, .list-menu li a:hover {
  text-shadow: 1px 0px black;
}

.page-width-custom {
    padding: 0 1.5rem;
}

.price{
  margin-top: 0 !important;
  font-size: 14px !important;
}

.footer-block__heading{
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1rem !important;
}

.footer-block__details-content .list-menu__item--link{
  padding: 0 !important;
  text-decoration: none;
}

.product-price-custom{
  position: absolute;
  top: 22%;
  right: 5px;
  background-color: rgba(255,255,255, 0.5);
  padding: 4px 8px;
}

.product-price-custom .price__container{
  margin: 0 !important;
}

.price-per-item__container .quantity{
  width: 100%;
}

.card__information fieldset{
  margin-bottom: 0;
  margin-top: -25px;
}

.carousel-product-custom .card__information fieldset{
  margin-top: 0px;
}

@media screen and (max-width: 749px) {
  /* .card__content{
    margin-top: -35px;
  } */

  .menu-drawer__menu-item {
    text-transform: uppercase;
    font-size: 14px !important;
  }
  
  .menu-drawer__close-button{
    text-transform: uppercase;
  }

  .info-with-icon__child {
    display: none;
  }

  .description-custom .accordion{
    margin: 0 !important;
  }

  .description-section{
    display: none;
  }
  
  .product__description-custom {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .product__info-container-custom-mobile .product__title h1, .product__info-container-custom-mobile .product__text {
    font-size: 16px;
  }

  .product__info-container-custom .product__text, .product__info-container-custom .product__title, .product__info-container-custom .price, .product__info-container-custom .product-form__input--swatch legend, .product__info-container-custom .quantity__label{
    display: none;
  }
  
  .product__info-container-custom .product-form__input--swatch{
    display: flex;
    justify-content: center;
  }

  .product__info-container-custom{
    padding: 0 2rem;
  }

  .slider-buttons{
    position: absolute;
    top: 6px;
    right: 10px;
    background: rgba(255,255,255, 0.5);
    z-index: 10;
  }
  
  .product__media-list-custom{
    display: flex;
  }

  .custom-slideshow--desktop{
    display: none;
  }

  .custom-slideshow--mobile{
    display: block;
  }

  .custom-footer-style{
    display: grid !important;
    grid-template-columns: repeat(2, 50%);
  }

  .custom-footer-style .custom-footer-style__block{
    margin: 0 !important;
  }

}

@media screen and (min-width: 750px) {
  .product__info-container {
    max-width: 100% !important;
  }

  .product__info-container-custom .product__text, .product__info-container-custom .product__title h1{
    font-size: 16px;
  }

  .info-mobile{
    display: none;
  }
  
  .product__info-container-custom-mobile{
    display: none !important;
  }

  .product-price-custom{
    display: none;
  }

  .custom-slideshow--desktop{
    display: block;
  }

  .custom-slideshow--mobile{
    display: none;
  }

  .product--stacked .product__media-item {
      max-width: 100% !important;
      width: 100%;
  }

  .card__information {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 14px;
  }

  .underline-links-hover:hover a {
    text-decoration: none !important;
  }

  .card__heading{
    font-size: 14px;
  }
  .page-width-custom {
      padding: 0 5rem;
  }
  .collection-hero__title{
    font-size: 18px;  
  }
  .facets-container{
    padding-top: 0 !important;
  }
  .collection-hero.collection-hero--with-image {
    padding-bottom: 0 !important;
  }
  .collection-hero__title+.collection-hero__description{
    font-size: 16px !important;
  }
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 16px 2rem 0 0 !important;
  }
  .collection-hero-custom__image-container{
    margin-left: 0 !important;
    min-height: 40rem !important;
  }
  
  .collection-hero-custom__inner{
    flex-direction: column-reverse !important;
    align-items: start !important;
  }
}

/* @media screen and (min-width: 990px) {
  .product--large:not(.product--no-media) .product__info-wrapper {
    max-width: 50% !important;
    width: calc(59% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }

  .product--large:not(.product--no-media) .product__media-wrapper {
    max-width: 50% !important;
    width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2) !important;
  }
} */